/* Developed by Kaye Poblete */
:root {
    --color-green:#2C6E49;
    --color-yellow: #DBA401;
    --color-altyellow: #D48B00;
    --color-purple: #301A48;
    --color-light: #F2D6C6;
    --color-pink: #BC6D6D;
    --color-red: #C54506;
    --color-blue: #33566C;

    --font-primary: "Roboto Slab", serif;
    --font-secondary: 'Josefin Sans', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

body {
    margin-bottom: 160px;
    background-color: var(--color-light) !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
}

nav {
    background-color: var(--color-light);
    border-bottom: solid;
    border-color: var(--color-purple);
    border-width: 1px;;
}

.navbar-brand {
    width: 180px;
}
  
.navbar-brand > img {
    width: 100%;
}

.navbar li a {
    color: var(--color-red) !important;
    font-family: var(--font-secondary) !important;
    font-size: 1.5vw;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .active{
    color: var(--color-purple) !important;
    font-weight: bolder

}

nav li:hover {
    border-bottom: solid;
    border-color: var(--color-purple);
}

#video-container {
    height: 92vh;
    width: auto;
    position: relative;
}

#video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

#video-container .overlay {
    position: absolute; 
    bottom: 0;
    color: white; 
    width: 100%;
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding: 30px;
    text-align: left;
}

#video-container .overlay p {
    font-size: 3rem;
    font-family: var(--font-primary);
    color: var(--color-altyellow);
    margin: 0;
}

h1 {
    margin: 2rem 0 1rem 0;
    color: var(--color-purple);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 4rem;
}

h2 {
    color: var(--color-red);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 2rem;
}

.para-box {
    background-color: var(--color-pink);
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    box-shadow: 10px 10px 20px -5px var(--color-purple);
    padding: 2rem;
}

#divIndexImages {
    display: flex;
    justify-content: center;
}

#divIndexImages img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 5px solid var(--color-red);
    box-shadow: 10px 10px 20px -5px var(--color-purple);
    margin-bottom: 2rem;
}

#btnViewAll {
    background: none;
    border: 2px solid;
    line-height: 0.5;
    margin: 1rem 0 -30px 0;
    padding: 0.5em 1.5em;
    font-size: 1.15rem;
    font-family: var(--font-secondary);
    color: var(--color-green);
    background-color: var(--color-light);
}

#btnViewAll:hover {
    color: var(--color-light);
    background-color: var(--color-green);
}

.flex-end {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    padding: 2rem;
    margin: 0 auto 25px;
    font-family: var(--font-secondary);
}

form label {
    font-size: 1.5rem;
}

#formParks {
    background-color: var(--color-pink);
}

#formMountains {
    background-color: var(--color-pink);
}

.form-control {
    margin-bottom: 1.5rem;
    background-color: var(--color-light) !important;
}

.form-control:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 0.2rem var(--color-altyellow);
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

#displayParksInfo .card, #displayMountainInfo .card {
    display: flex;
    width: 60%;
    height: 100%;
    margin: 0 auto 25px;
    color: var(--color-purple);
    font-size: 1.25rem;
    font-family: var(--font-secondary);
    background-color: var(--color-altyellow);
    border-color: var(--color-purple);
    border-width: 2px;
}

#displayParksInfo h5, #displayMountainInfo h5 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: bold;
}

#displayParksInfo button {
    color: var(--color-light);
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    margin-top: 1rem;
}

#displayMountainInfo .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-body p {
    margin: 0;
}

#iconScroll {
    font-size: 3rem;
    color: var(--color-red);
}

.btnScrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

footer {
    background-color: var(--color-purple);
}

#divFooter {
    padding-top: 10px;
}

#footerImage {
    display: flex;
    justify-content: center;
}

#footerImage > img {
    width: 50%;
    padding-top: 1rem;
}

#socialLinks {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
}

#socialLinks a {
    color: var(--color-yellow);
}

#footerBy {
    color: var(--color-yellow);
    font-family: var(--font-primary);
    text-align: center;
    background-color: var(--color-purple);
    font-size: 1rem;
    padding: auto;
}

@media screen and (max-width:768px) {
    html {
        position: relative;
        min-height: 100%;
        padding-bottom: 20px;
    }
    
    body {
        margin-bottom: 160px;
        background-color: var(--color-light) !important;
    }
    
    .navbar li a {
        font-size: 5vw;
    }

    #video-container .overlay {
        position: absolute; 
        bottom: 0;
        color: white; 
        width: 100%;
        font-family: var(--font-secondary);
        font-size: 1rem;
        padding: 30px;
        text-align: left;
    }

    #video-container .overlay p {
        font-size: 2rem;
        font-family: var(--font-primary);
        color: var(--color-altyellow);
        margin: 0;
    }

    h1 {
        margin: 1rem 0 0.5rem 0;
        color: var(--color-purple);
        text-align: center;
        font-family: var(--font-primary);
        font-size: 2rem;
    }
    
    h2 {
        color: var(--color-red);
        text-align: center;
        font-family: var(--font-secondary);
        font-size: 1rem;
    }

    .para-box {
        background-color: var(--color-pink);
        color: var(--color-light);
        font-family: var(--font-secondary);
        font-size: 0.75rem;
        box-shadow: 10px 10px 20px -5px var(--color-purple);
    }

    .indexImages {
        margin-bottom: 1rem;
    }

    #btnViewAll {
        background: none;
        border: 2px solid;
        line-height: 0.5;
        margin: 1rem 0 -30px 0;
        padding: 0.5em 1.5em;
        font-size: 1rem;
        font-family: var(--font-secondary);
        color: var(--color-green);
        background-color: var(--color-light);
    }

    form {
        width: 75%;
        margin: 0 auto 25px;
    }

    form label {
        font-size: 1rem;
    }

    .card{
        width: 75%;
        margin: 0 auto 25px;
    }

    #divFooter {
        padding-top: 1rem;
    }

    #footerImage > img {
        width: 50%;
    }

    #socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.5rem;
        font-family: var(--font-secondary);
    }

    #footerBy {
        color: var(--color-yellow);
        font-family: var(--font-primary);
        text-align: center;
        background-color: var(--color-purple);
        font-size: 0.5rem;
        padding: auto;
    }
}